html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #eee;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    transition: 500ms;
}

#front-social {
    margin-top: -30px;
    margin-bottom: 50px;
}

.social-icon-fp {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.2s ease;
    font-size: 2.0rem;
}

.social-icon-fp:hover {
    color: #dd0c1f;
    transition: color 0.2s ease;
}

.phero {
    /* background-image: url("/images/new-bg.jpg"); */
    height: 100vh;
    overflow-y: auto;
}

.img-profile {
    object-fit: cover;
    display: block;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0px 2px 15px rgb(109, 109, 109);
}

.inner-text {
    position: relative;
    width: 80vw;
    margin: auto;
    top: 140px;
    font-weight: 600;
    text-align: center;
    font-size: 4rem;
}

.intro-text {
    margin: 20px auto;
    font-size: 3rem;
    line-height: 50px;
}

span {
    padding: 0;
}

.sub-text {
    margin: 10px auto;
    font-size: 1rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: inherit;
    line-height: 1rem;
}


/* ADDED SOCIAL LINKS */

div.links-wrapper {
    display: inline;
    margin: -20 auto;
    text-align: center;
    overflow: hidden;
    line-height: 0;
}

ul.social-links {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: 20px;
}

ul.social-links li {
    height: 20px;
    display: inline-block;
}

ul.social-links li a {
    color: #fff;
    padding: 0;
    display: block;
    margin: 0;
    text-decoration: none;
    height: 20px;
    font-size: 12px;
}

ul.social-links li a img {
    height: 20px;
}

ul.social-links:hover li {
    opacity: 0.5;
    height: inherit;
    transition: 200ms;
}

ul.social-links li:hover {
    opacity: 1;
    transition: 200ms;
}


/* HEADER */

#menu-icon {
    float: right;
    display: none;
    vertical-align: middle;
    padding: 10px;
}

#header {
    margin: 0 auto;
    width: 100%;
}

nav {
    padding: 20px 0;
    z-index: 999;
    width: 100%;
    display: table;
    position: fixed;
    background: rgba(238, 238, 238, 0.95);
    margin: 0 auto !important;
}

#nav-items {
    width: 80%;
    margin: 0 auto;
}

.btn-ham {
    color: #333;
}

#topnav {
    float: right;
}

#name-item {
    color: #dd0c1f;
    text-align: left;
    font-weight: 750;
    letter-spacing: 1px;
    margin: 0;
    cursor: pointer;
    transition: color 0.2s ease;
}

#name-item:hover {
    color: #333;
    transition: color 0.2s ease;
}

.nav-item {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 650;
    font-size: 0.8rem;
    color: #333;
    transition: color 0.2s ease;
}

.port {
    margin: 0 40px;
}

.nav-item:hover {
    color: #dd0c1f;
    transition: color 0.2s ease;
}

.mystyle:first-child li a {
    text-decoration: none;
    color: #f00;
}

@media only screen and (max-width: 786px) {
    #menu-icon {
        display: block;
        cursor: pointer;
    }
    #name-item {
        display: block;
        text-align: center;
        font-size: 1.1rem;
        margin-top: -15px;
        margin-bottom: 5px;
    }
    #topnav {
        display: block;
        float: inherit;
        margin: 0 auto;
        text-align: center;
    }
    nav {
        height: 32px;
    }
}


/* END HEADER */

.button-container {
    position: absolute;
    top: 95%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.btn-icon {
    height: 32px;
    opacity: 0.5;
    transition: 300ms;
}

.btn-icon:hover {
    opacity: 1;
    transition: 300ms;
}

.lcontent {
    background: #333;
    display: flex;
}

.rcontent {
    background: #444;
    display: flex;
}

.ptext {
    display: flex;
    flex: 0 1 40vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #eee;
}

.pimg {
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
}

.pimg.ece {
    background: url("/images/heromain.jpg");
}

.pimg.code {
    background: url("/images/code.jpg");
}

.section-text {
    top: 50%;
    bottom: 0;
    width: 80%;
}

@media only screen and (max-width: 786px) {
    .lcontent,
    .rcontent {
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .lcontent.ece {
        background: url("/images/heromain.jpg");
    }
    .rcontent.code {
        background: url("/images/code.jpg");
    }
    .pimg {
        display: none;
    }
    .ptext {
        display: block;
        margin: 120px auto;
    }
    .section-text {
        margin: auto;
    }
}


/* APPS LIST */


/* 
.mdl-design {
  background: #0378e6;
} 

.mdl-privacy {
  background: rgb(19, 12, 8);
}

.mdl-contact {
  background: #2c14af;
}

.mdl-about {
  background: #e60321;
} 
*/

.content {
    margin: auto;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    line-height: 1em;
}

.inner-content {
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 786px) {
    .inner-content {
        width: 98%;
    }
}

.content h3 {
    text-align: center;
    font-size: 2rem;
}

.content h5 {
    text-align: center;
    font-weight: 400;
}


/*  APPS  */

.appgrid {
    margin: auto;
    display: flex;
    max-width: 75vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 786px) {
    .appgrid {
        max-width: 90vw;
    }
}

.item-wrapper {
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    margin: 10px 5px;
    width: 144px;
    height: 200px !important;
    border: solid 1px #ddd;
    border-radius: 4px;
}

.item-wrapper h5 {
    padding: 0 20px;
    margin: -10px 0px 40px 0px;
    font-weight: 600;
    text-align: center;
}

.item-wrapper img {
    width: 64px;
    height: 64px;
    transition: 500ms;
    padding: 40px;
    margin: 0 auto;
}

.item-wrapper img::before {
    width: 16px;
    content: " ";
    position: absolute;
    background: red;
    left: -16px;
    top: -6px;
    height: 20px;
}

.item-wrapper:hover {
    background: #0378e6;
    border: solid 1px #888;
    transition: 200ms;
    box-shadow: 5px 0px 20px rgba(51, 51, 51, 0.2), -5px 0px 20px rgba(51, 51, 51, 0.2);
    color: #eee;
}

.grid-item img {
    width: inherit;
}


/*INFO*/

#app-info {
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background: rgba(27, 27, 27, 0.3);
    position: absolute;
    display: none;
}

#info-area {
    max-height: 600px;
    padding: 30px;
    overflow: hidden;
    top: 15%;
    bottom: 35%;
    left: 27%;
    right: 27%;
    background: #dedede;
    position: absolute;
    box-shadow: 5px 0px 20px rgba(51, 51, 51, 0.4), -5px 0px 20px rgba(51, 51, 51, 0.4);
    display: none;
    border-radius: 4px;
}

#app-icon {
    height: 8rem;
    padding: 40px;
    background: #0378e6;
    border-radius: 4px;
}

#app-name {
    display: inline;
    position: inherit;
    text-align: left;
    line-height: 1em;
    font-weight: 700;
    font-size: 2rem;
    margin: 0px 0px 0 20px;
}

#app-desc {
    display: inline;
    position: inherit;
    margin: 40px 40px 20px 20px;
    overflow-y: scroll;
    max-height: 240px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2rem;
}

.info-btn {
    background: #aaa;
    font-size: 1rem;
    display: inline;
    padding: 10px 20px;
    border-radius: 4px;
    transition: 0.2s ease;
}

.info-btn.view {
    font-weight: 600;
    padding: 10px 30px;
    background: #0378e6;
    border-radius: 4px;
    color: #eee;
}

#btn-wrapper {
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.info-btn:hover {
    background: #999;
    box-shadow: 5px 0px 10px rgba(51, 51, 51, 0.2), -5px 0px 10px rgba(51, 51, 51, 0.2);
    transition: 0.2s ease;
}

.info-btn.view:hover {
    background: #2b90ee;
}

@media only screen and (max-width: 1320px) {
    /* #info-area {
        top: 25%;
        bottom: 35%;
        left: 12%;
        right: 12%;
        background: #dedede;
        position: absolute;
    } */
}

@media only screen and (max-width: 908px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
    #info-area {
        display: block;
        height: 100vh;
        width: 90vw;
        padding: 20px;
        overflow: hidden;
        margin: 0px auto;
        top: 10%;
        left: 0;
    }
    #app-icon {
        display: block;
        margin: auto;
        height: 4rem;
        padding: 40px;
        background: #0378e6;
    }
    #app-name {
        display: block;
        font-weight: 750;
        font-size: 1.8rem;
        margin: 10px auto;
        text-align: center;
        position: relative;
    }
    #app-desc {
        display: block;
        position: relative;
        overflow-y: scroll;
        padding: 0px;
        margin: 10px auto;
        text-align: left;
        font-size: 1rem;
        line-height: 1.2rem;
    }
    #btn-wrapper {
        display: block;
        margin: 0px 20px;
    }
    .info-btn {
        background: #aaa;
        font-size: 1rem;
        text-align: center;
        display: block;
        margin: 10px 0;
        padding: 10px 20px;
        transition: 0.2s ease;
    }
}


/* END APPS PAGE */


/* PRIVACY CONTENT */

.privacy-content {
    width: 50%;
    margin: auto;
    font-size: 1rem;
    line-height: 1.8rem;
}

@media only screen and (max-width: 786px) {
    .privacy-content {
        width: 98%;
    }
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #d2d2d2;
}

.privacy-content h4 {
    margin-top: 50px !important;
    text-align: left;
    font-size: 1.1rem;
}

.last-text {
    font-size: 0.7rem;
}


/* CONTACT STYLE */

.social-media {
    margin: 20px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.social-media li {
    height: 5rem;
    width: 30%;
    margin: 20px 0;
    transition: 200ms;
}

.social-media:hover li {
    opacity: 0.5;
    transition: 200ms;
}

.social-media li:hover {
    opacity: 1;
    transition: 200ms;
}

.sms {
    display: none;
}

.info section {
    margin-top: 40px;
    font-size: 1rem;
    line-height: 1.8rem;
}

.map-zone {
    margin: auto;
}


/* ABOUT */

#abt-content,
#abt-sub {
    display: flex;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 0px;
}

#abt-social {
    margin: 20px auto;
}

#abt-main p {
    font-weight: 750;
}

#abt-sub {
    margin-bottom: 100px;
}

#abt-main {
    width: auto;
    flex: 2;
    margin-top: 50px;
    text-align: center;
}

.about-section p {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#abt-main .intro-text {
    font-size: 2rem;
    margin: 20px auto 0px auto;
}

#abt-main #front-social {
    margin-bottom: -30px;
}

#btn-dl-pdf {
    cursor: pointer;
    border-radius: 4px;
    color: #eee;
}

h3.greeting.about {
    margin: 20px 0 0 0;
    font-size: 2rem;
}

#abt-details {
    flex: 2;
    align-self: flex-start;
    margin-left: 20px;
}

#abt-sub {
    padding-top: 0px;
}

#abt-sub .greeting {
    font-size: 1.2rem;
}

#abt-bg,
#abt-bio {
    flex: 1;
}

#abt-bg {
    margin-right: 20px;
}

.about-section {
    margin: 0 auto !important;
}

#abt-main .img-profile {
    object-fit: cover;
    display: block;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0px 2px 15px rgb(109, 109, 109);
}

.social-icon-abt {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.2s ease;
    font-size: 1.5rem;
}

.social-icon-abt:hover {
    color: #dd0c1f;
    transition: color 0.2s ease;
}

@media only screen and (max-width: 786px) {
    #abt-content {
        padding: 0;
        padding-top: 50px;
    }
    #abt-sub {
        padding: 0;
    }
    #abt-main {
        top: 40px;
    }
    #abt-main .img-profile {
        height: 10rem;
        width: 10rem;
    }
    #btn-dl-pdf {
        margin: 20px auto;
    }
    #abt-content,
    #abt-sub {
        width: 90%;
        flex-direction: column;
    }
    #abt-details,
    #abt-bio,
    #abt-bg {
        margin: 0 auto;
    }
    h3 .about {
        margin: 20px 0 0 0;
    }
}

.inner-link {
    text-decoration: none;
    font-weight: 700;
    color: #dd0c1f;
}

.inner-link:hover {
    text-decoration: none;
    font-weight: 700;
    color: #e2414e;
}


/*  FOOTER */

footer {
    position: relative;
    margin-top: 40px !important;
}

div.social-links-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
}

.social-icon-foot {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.2s ease;
    font-size: 1.2rem;
}

.social-icon-foot:hover {
    color: #dd0c1f;
    transition: color 0.2s ease;
}

.copyright-text {
    margin: 20px auto 60px auto;
    text-align: center;
    overflow: hidden;
    font-size: 0.7rem;
    color: #aaa;
}

.copyright-text a {
    color: #aaa;
    margin-right: 20px !important;
    text-decoration: none;
}

#content {
    padding-top: 50px;
}