html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  background: #aaa;
}

.clear {
  clear: both;
}

header {
  top: 0;
  position: fixed;
  z-index: 2;
}

.content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 120px auto 0 auto;
  background: #eee;
  z-index: 12;
  width: 60%;
  padding: 20px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
  line-height: 1em;
}

.content h3 {
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

#innder_header {
  padding: 0;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  z-index: 99;
  background: #333;
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: #333;
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 16px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  word-break: break-all;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.menu-icon-img {
  height: 20px;
  width: 20px;
  margin-top: 4px;
  float: right;
}

@media (max-width: 786px) {
  nav {
    background: #333;
  }

  .content {
    margin-top: 60px;
    width: 100%;
    padding: 0;
  }

  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
    margin: 0 20px;
    background: #333;
  }

  nav ul {
    max-height: 0px;
    background: #333;
  }

  nav.black ul {
    background: #333;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    word-wrap: break-word;
    padding: 0 0 0 20px;
    text-align: left;
    background: #333;
  }

  .menu-icon {
    height: 60px;
    display: block;
    background: #333;
  }
}

.active_hlink {
  /* border: solid 1px;
  border-radius: 1.5em; 
  padding: 10px 30px; */
  color: #dd0c11;
}

.active_hlink:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

#inner_header h3 {
  padding: 0;
  margin: 0;
}

#last_ {
  font-size: 12px;
}

.strong {
  color: #dd0c11;
}

footer {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
  bottom: 0;
  color: #fff;
  padding: 10px;
  font-size: 0.8rem;
  color: #eee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  bottom: 0;
}

footer ul {
  display: inline-block;
  width: auto;
  list-style: none;
  margin: auto;
  padding: 10px;
  align-content: center;
}

footer span {
  display: block;
}

footer ul:hover li {
  opacity: 0.5;
  transition: 200ms;
}

footer ul li:hover {
  opacity: 1;
  transition: 200ms;
}

footer ul li {
  display: inline-block;
  padding: 0px 10px;
}

footer ul li a img {
  height: 30px;
}

.flex-container {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.wrapper {
  height: 100%;
}

#player {
  position: fixed;
  bottom: 0;
  left: auto;
  right: 0;
  margin: 20px;
}

.radio_station {
  border: solid 1px;
  padding: 40px 20px;
  border-radius: 1px;
  margin: 20px;
  text-decoration: none;
  background: #dd0c11;
  color: #fff;
}

.appgrid {
  width: 100%;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.appgrid a {
  text-decoration: none;
}

.item-wrapper {
  cursor: pointer;
  height: 180px;
  width: 160px;
  margin: 10px 2px;
}

.grid_item {
  background: rgba(0, 0, 0, 0.8);
  margin: 0 10px;
  transition: 500ms;
  padding: 40px;
}

.grid_item:hover {
  background: #dd0c11;
  transition: 200ms;
  padding: 40px;
  box-shadow: 5px 0px 40px rgba(51, 51, 51, 0.5),
    -5px 0px 40px rgba(51, 51, 51, 0.5);
}

.grid_item img {
  position: relative;
  display: block;
  margin: 0;
  max-width: 60px;
  max-height: 60px;
  z-index: 0;
}

h5 {
  margin: 5px 0px 10px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  display: block;
  max-width: 140px;
  font-size: 0.66em;
  font-style: unset;
}
