html, body {
    line-height: 1.2rem;
    font-family: 'Rubik', sans-serif;
}

input[type="radio"] {
    margin: 5px 10px;
}

input[type="radio"]:checked {
    font-weight: bold;
}

input[type="text"] {
    margin-bottom: 20px;
    font-size: 40px;
    width: 150px;
    font-family: 'Rubik', sans-serif;
    border-radius: 4px;
    border: solid 1px #392;
    padding: 4px;
}

#ref {
    width: 120px;
    margin-bottom: 10px;
}

#wowbtn {
    transition: 300ms;
    background-color: #eeffff;
    height: 3em;
    width: 14em;
    font-size: 1.2em;
    font-family: 'Rubik', sans-serif;
    border-radius: 5em;
    border: solid 1px #392;
}

#wowbtn:hover {
    transition: 300ms;
    background-color: #392;
    height: 3em;
    width: 14em;
    font-size: 1.2em;
    font-family: 'Rubik', sans-serif;
    border-radius: 5em;
    border: none;
}

#inputs {
    float: left;
}

#preview {
    display: table;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 300px;
    padding: 20px;
}

#preview h3 {
    margin-left: 0px;
    margin-top: -45px;
}

button:focus, input[type="text"]:focus {outline:0;}

#textpreview {
    padding: 10px 15px 20px 15px;
    border-radius: 4px;
    border: solid 1px #392;
}

#wowbtn.copysmall{
    max-width: 6rem;
    max-height: 1.7em;
    font-size: 14px;
    float: right;
    margin-top: 10px;
}